@import "@/styles/core/variables";

.header {
  padding: 16rem 0;

  h1 {
    font-family: $font-gil-bold;
    font-style: normal;
    font-weight: 600;
    font-size: 5.2rem;
    line-height: 120%;
    color: $dark;
    width: 60rem;
  }
}

.header__stars {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 56px;
  padding: 1.2rem 2.4rem;
  border: 1px solid rgba(15, 5, 24, 0.2);
}

.hero {
  background-image: url("../../assets/svg/header.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  // height: 33.6rem;
  // height: 63.6rem;
  min-height: 50rem;
  width: 100%;
}
