@import "@/styles/core/variables";
@import "@/styles/utils/breakpoints";

.header {
  padding: 16rem 0;

  @include media("<=tablet") {
    padding: 6rem 3rem ;
  }

  @include media("<=mobile") {
    padding: 6rem 1rem;
  }

  h1 {
    font-family: $font-gil-bold;
    font-style: normal;
    font-weight: 600;
    font-size: 5.2rem;
    line-height: 120%;
    color: $dark;
    width: 60rem;

    @include media("<=tablet") {
      font-size: 4.4rem;
      width: 90%;
    }
  }
}

.header__stars {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 56px;
  padding: 1.2rem 2.4rem;
  border: 1px solid rgba(15, 5, 24, 0.2);
}

.hero {
  background-image: url("../../assets/svg/header.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 50rem;
  width: 100%;

  @include media("<=tablet") {
    height: 20rem;
  }
}
