@import "@/styles/core/variables";
@import "@/styles/utils/breakpoints";

.registry {
  background-image: url("../../assets/svg/puprleBg.svg"),
    url("../../assets/svg/purple.svg");
  background-size: cover;
  background-repeat: no-repeat;

  @include media("<=tablet") {
    padding: 3.2rem;
  }

  @include media("<=mobile") {
    padding: 1rem;
  }
}

.registry__container {
  margin: 6.4rem auto;
  width: 82.6rem;

  @include media("<=tablet") {
    width: 100%;
  }
}

.benefit__item {
  font-family: $font-gil-bold;
  font-style: normal;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 140%;
  color: $grey-100;

  svg {
    margin-right: 1.3rem;
  }

  &:not(:last-of-type) {
    margin-right: 3.2rem;
  }
}
